<ion-view view-title="Usuários bloqueados">
  <ion-nav-bar class="bar bar-light">
    <ion-nav-back-button ></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content overflow-scroll="false">

    <div class="list">
      <ion-list ng-repeat="blocked in user.blocks">
        <div class="item item-avatar item-button-right ">
          <img src="data:image/jpeg;base64,{{blocked.avatar}}" >
          <h2>{{blocked.name}}</h2>
          <p>{{blocked.description}}</p>
          <button class="button button-positive" ng-click="unblockUser(blocked,$index);">
            <i class="icon ion-unlocked" ></i>
          </button>
        </div>
      </ion-list>
    </div>
  </ion-content>

</ion-view>
